/* 
font-family: 'Raleway-Regular';
font-family: 'Roboto-Bold';
font-family: 'Raleway-Bold';
font-family: 'Raleway-Thin';
font-family: 'Raleway-Light';
font-family: 'Raleway-Black';
 */
@import '../media/media.css';
@import '../fonts/stylesheet.css';


:root {
    --f400: 'Raleway-Regular';
    --f100: 'Raleway-Thin';
    --f300: 'Raleway-Light';
    --f700: 'Raleway-Bold';
    --f900: 'Raleway-Black';
    --fRob700: 'Roboto-Bold';

    --green: #69cf17;
    --green_75: rgba(105, 207, 23, 0.75);
    --green_90: rgba(10.5, 207, 23, 0.9);
    --logo_dark: #4c9a0d;
    --logo_light: #62be19;
    --white: #fff;
    --dark: #060002;
    --grey_light: #dedede;
    --grey: #7a7a7a;


    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f400);
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}

.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}

.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}

.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}

.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}

.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}

.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}

.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}

.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}

.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}

.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}

.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.mh-100 {
    min-height: 100vh;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

/* ================== header ============= */
.header {
    background: url('../img/bg_img.png') center center /cover no-repeat;
}

.nav__list_link {
    padding: 35px 26px 30px 26px;
    font-size: 20px;
    font-family: var(--f-300);
    color: var(--green);
    display: inline-block;
    display: flex;

}

.nav__list_link:hover {
    background: var(--green_75);
    color: var(--white);
}

.nav__list_link:hover .nav__list_span {
    background: var(--white);
    color: var(--green);
}

.nav__list_span {
    font-size: 20px;
    color: var(--white);
    font-family: var(--f300);
    width: 24px;
    height: 24px;
    margin-left: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: var(--f700);
    font-size: 24px;
    color: var(--white);
    text-transform: uppercase;
    padding: 8px 18px;
    background: var(--logo_dark);
    border: 3px solid var(--logo_light);
    border-radius: 5px;
    line-height: 17px;
}

.header__title {
    font-family: var(--f900);
    font-size: 72px;
    color: var(--green);
    text-transform: uppercase;
    line-height: 66px;
    margin-bottom: 20px;
}

.header__underTitle {
    font-size: 36px;
    color: var(--green);
    line-height: 25px;
}

.header__content_description {
    font-size: 18px;
    color: var(--grey_light);
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 75px;
}

.header__content_price {
    font-size: 60px;
    color: var(--white);
    font-family: var(--f100);
    padding: 27px 90px;
    background: var(--green_75);
    line-height: 45px;
}

/* ================== /header ============= */

/* ================== main =================== */

.main {
    background: var(--dark);
    padding-top: 50px;

}

.main-menu {
    padding-bottom: 100px;
}

.main__list_link {
    font-size: 20px;
    font-family: var(--f700);
    color: var(--grey);
    margin-right: 50px;
}

.main__list_link:hover {
    color: var(--green);
}

.main__list {
    margin-bottom: 70px;
}

.main-menu__title {
    font-family: var(--f700);
    color: var(--green);
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.main-menu__description {
    font-size: 16px;
    color: var(--grey_light);
    line-height: 25px;
}

.main-menu__content_img {
    width: 100%;
    height: 100%;
}

.main-menu__content {
    height: 350px;
}


.main-menu__content {
    position: relative;
    overflow: hidden;
}

.main-menu__content_add {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--green_90);
    font-size: 24px;
    font-family: var(--f700);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100%;
    left: -100%;
    transition: 1s;
    /* opacity: 0; */
}

.main-menu__content:hover .main-menu__content_add {
    top: 0;
    left: 0;
    /* opacity: 1; */
}

.main-menu__content_add:active {
    opacity: 0;
}

.main-menu__content:hover .main-menu__content_price {
    left: -100%;
    /* opacity: 0; */
}

.main-menu__content_price {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 24px;
    color: var(--grey_light);
    padding: 20px 58px;
    background: var(--green_75);
    transition: 1s;
    /* opacity: 1; */
}

.main-menu__card:nth-of-type(1),
.main-menu__card:nth-of-type(2),
.main-menu__card:nth-of-type(3) {
    margin-bottom: 50px;
}

/* 
.main-menu__card:nth-child(1),
.main-menu__card:nth-child(2),
.main-menu__card:nth-child(3){
    margin-bottom: 50px;
} */

/* .main-menu__card:nth-of-type(odd){
    background: white;
}
.main-menu__card:nth-of-type(even){
    background: grey;
} */


/* =<section class="recipe">= */
.recipe {
    padding-top: 50px;
    padding-bottom: 100px;
    background: url('../img/section_bg.png')50% 50% /cover no-repeat;
}

.recipe__title {
    font-family: var(--f700);
    font-size: 36px;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.recipe__title::after {
    content: '';
    width: 200px;
    height: 1px;
    background: var(--green);
    margin-top: 25px;
}

.recipe__description {
    font-size: 18px;
    color: var(--white);
    line-height: 25px;
}

.recipe__description:nth-of-type(1) {
    margin-bottom: 30px;
}

/* =</section class="recipe">= */

/*== <section class="branches">=== */
.branches__title {
    font-size: 36px;
    font-family: var(--f700);
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
    background: var(--white);
    padding: 50px 0;
}

.branches {
    display: flex;
    flex-direction: column;
}

.map {
    width: 100%;
    height: 500px;
    flex-grow: 1;
}

/*== </section class="branches">=== */





/* ========= /main ============== */

/* =============footer ===========*/

.footer__nav_number {
    font-size: 24px;
    color: var(--logo_dark);
    font-family: var(--fRob700);
}

.footer {
    padding-top: 40px;
    padding-bottom: 50px;
    background: var(--dark);
}

.footer__nav {
    margin-bottom: 50px;
}

.footer__list_link {
    font-size: 18px;
    font-family: var(--f100);
    color: var(--white);
    margin: 0 25px;
}

.footer__description {
    text-align: center;
    color: var(--white);
    margin-top: 45px;
    font-family: var(--f100);
    font-size: 16px;
}

.order{
    padding: 100px 0;
}

.order__title{
    font-family: var(--f700);
    font-size: 36px;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.order__card_text{
    font-size: 16px;
    color: var(--grey_light);
    line-height: 25px;
    width: 600px;
    align-items: center;
}

.order__card_title{
    font-family: var(--f700);
    color: var(--green);
    font-size: 24px;
    margin-bottom: 50px;
}

.order__btn{
    background: red;
    border-radius: 20px;
    padding: 15px 30px;
    font-family: var(--f700);
    color: white;
    text-align: center;
    align-items: center;
}

.total{
    margin-top: 50px;
    text-align: center; 
}

.total__title{
    font-family: var(--f700);
    color: var(--green);
    font-size: 18px;
}

.total__price{
    font-family: var(--f700);
    color: var(--green);
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.total__price_span{
    font-family: var(--f700);
    color: white;
    font-size: 30px;
}

.total__btn{
    font-family: var(--f700);
    color: white;
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 20px;
    background: green;
    display: inline-block;
}

/* =============/footer ===========*/
.arrow {
    width: 100px;
    height: 100px;
    top: 80%;
    left: 90%;
    display: inline-block;
    position: fixed;
    background: var(--white);
}
